@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="employee-page">
    <div class="employee-page-header">
        <div class="employee-page-top">
            <button><span>Delete Employee</span></button>
        </div>
        <div class="employee-page-navigation">
            <a class="employee-nav-item" href="#employeeDetails">Details</a>
            <a class="employee-nav-item" href="#employeeDepartments">Departments</a>
            <a class="employee-nav-item" href="#employeeTitles">Titles</a>
            <a class="employee-nav-item" href="#employeeSalaries">Salaries</a>
        </div>
    </div>
    <div class="employee-page-content">
        <div class="employee-page-info">
            <p>First Name</p>
            <p>Test</p>
        </div>
        <div class="employee-page-info">
            <p>Last Name</p>
            <p>Test</p>
        </div>
        <div class="employee-page-info">
            <p>Gender</p>
            <p>Test</p>
        </div>
        <div class="employee-page-info">
            <p>Date of Birth</p>
            <p>Test</p>
        </div>
        <div class="employee-page-info">
            <p>Hire Date</p>
            <p>Test</p>
        </div>
    </div>
</div>
