@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="employee-page">
    <div class="employee-page-header">
        <div class="employee-page-top">
            <h2 class="employee-top-header-name"></h2>
            <button class="btn btn-primary btn-employee-entity-action"><span>Delete Employee</span></button>
            <button class="btn-trash-delete-entity">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <nav class="employee-page-navigation">
            <a id="employee-details-nav-id" class="employee-nav-item">Details</a>
            <a id="employee-departments-nav-id" class="employee-nav-item">Departments</a>
            <a id="employee-titles-nav-id" class="employee-nav-item">Titles</a>
            <a id="employee-salaries-nav-id" class="employee-nav-item">Salaries</a>
        </nav>
    </div>
    <div class="employee-page-content employee-page-content-details"></div>
    <div class="employee-page-content employee-page-content-departments"></div>
    <div class="employee-page-content employee-page-content-titles"></div>
    <div class="employee-page-content employee-page-content-salaries"></div>
</div>
